<div class="m-2 p-2">
	<h1>Добавить нового ученика</h1>
	<div>
		<%= form_with model: @student do |form| %>
			<%= form.label "Имя" %>
			<%= form.text_field :name%>
			<%= form.submit %>
		<% end %>

	</div>


</div>
